@charset "UTF-8";
/* НАЧАЛО ОБЩИЕ СТИЛИ */
body {
  background: url("../img/background.jpg");
  color: white;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Play", Arial, sans-serif; }

a {
  color: white; }
  a:hover {
    color: white; }

.success-mail-text {
  color: white; }

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: "Play", Arial, sans-serif;
  text-align: center; }

h1 {
  text-align: center;
  font-size: 32px; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 36px; } }

h2 {
  font-size: 26px; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 30px; } }

h3 {
  font-size: 22px; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 26px; } }

.uk-close-alt,
.uk-close-alt:hover,
.uk-modal-close {
  color: black; }

.navbar-toggle-container .uk-navbar-toggle,
.navbar-toggle-container .uk-navbar-toggle:hover,
.navbar-toggle-container .uk-navbar-toggle:active {
  color: white;
  display: block; }
.navbar-toggle-container.uk-active .uk-navbar-toggle {
  color: black;
  background: rgba(255, 255, 255, 0.85); }

.uk-slidenav {
  color: rgba(200, 10, 10, 0.5); }
  .uk-slidenav:hover, .uk-slidenav:active, .uk-slidenav:focus {
    color: rgba(200, 10, 10, 0.8); }

.uk-breadcrumb {
  margin-bottom: 25px; }
  .uk-breadcrumb > li {
    font-size: 20px; }

.uk-breadcrumb > li:nth-child(n+2):before {
  content: ">"; }

.uk-breadcrumb > li a {
  text-decoration: underline; }

.uk-pagination > .uk-active > span {
  background: rgba(200, 10, 10, 0.5); }

/* КОНЕЦ ОБЩИЕ СТИЛИ */
/* НАЧАЛО header */
header {
  padding: 35px 0 0; }
  @media screen and (min-width: 768px) {
    header .upper-row {
      padding-bottom: 15px; } }
  header .upper-row .logo-and-solgan-container .logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px; }
    @media screen and (min-width: 768px) {
      header .upper-row .logo-and-solgan-container .logo {
        width: 300px; } }
  header .upper-row .logo-and-solgan-container p.slogan {
    color: #970e0e;
    font-family: "Marck Script", cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px; }
    @media screen and (min-width: 768px) {
      header .upper-row .logo-and-solgan-container p.slogan {
        margin-bottom: 0; } }
  header .upper-row .summary-and-contacts-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 20px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      header .upper-row .summary-and-contacts-container {
        font-size: 26px;
        text-align: right; } }
    header .upper-row .summary-and-contacts-container .summary {
      font-family: "Marck Script", cursive; }
    header .upper-row .summary-and-contacts-container .contacts {
      font-size: 18px;
      margin-top: 0; }
      header .upper-row .summary-and-contacts-container .contacts a {
        margin-top: 10px;
        display: inline-block; }
        @media screen and (min-width: 768px) {
          header .upper-row .summary-and-contacts-container .contacts a {
            margin-top: 0; } }
      @media screen and (min-width: 768px) {
        header .upper-row .summary-and-contacts-container .contacts {
          font-size: 24px; }
          header .upper-row .summary-and-contacts-container .contacts a + a,
          header .upper-row .summary-and-contacts-container .contacts br + a {
            margin-left: 25px; } }

/* КОНЕЦ header */
/* НАЧАЛО footer */
footer {
  font-size: 20px;
  margin-top: 35px;
  padding: 0;
  color: #bbb;
  background: rgba(0, 0, 0, 0.5); }
  footer .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    text-align: center;
    padding-top: 25px; }
    @media (min-width: 480px) {
      footer .footer-flex {
        flex-flow: row;
        text-align: left; } }
    @media (min-width: 1220px) {
      footer .footer-flex {
        padding-top: 0; } }
    footer .footer-flex > a {
      display: block; }
    footer .footer-flex .logo-and-solgan-container .logo {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 300px; }
      @media screen and (min-width: 768px) {
        footer .footer-flex .logo-and-solgan-container .logo {
          width: 300px; } }
    footer .footer-flex .logo-and-solgan-container p.slogan {
      color: #970e0e;
      font-family: "Marck Script", cursive;
      font-size: 25px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 15px; }
      @media screen and (min-width: 768px) {
        footer .footer-flex .logo-and-solgan-container p.slogan {
          margin-bottom: 0; } }
    footer .footer-flex .map {
      display: none; }
      @media (min-width: 1220px) {
        footer .footer-flex .map {
          margin: 0 30px;
          flex: 1;
          display: block; } }
    footer .footer-flex .contacts {
      text-align: center;
      flex: 0 0 230px; }

/* КОНЕЦ footer */
/* НАЧАЛО main-slider под header'ом */
.main-slider {
  margin-bottom: 25px; }
  .main-slider .images-grid > li {
    background: 50% 50%/cover;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end; }
    @media screen and (min-width: 768px) {
      .main-slider .images-grid > li {
        height: 250px; } }
    .main-slider .images-grid > li:hover p {
      opacity: 1; }
    .main-slider .images-grid > li p {
      opacity: 1;
      transition: .5s;
      background: rgba(200, 10, 10, 0.5);
      color: white;
      padding: 5px 15px; }
      @media screen and (min-width: 960px) {
        .main-slider .images-grid > li p {
          opacity: 0; } }

/* КОНЕЦ main-slider под header'ом */
/* НАЧАЛО навигация*/
ul.uk-nav {
  background: rgba(0, 0, 0, 0.5); }
  ul.uk-nav a {
    color: white;
    padding-left: 30px;
    background-clip: border-box; }
    ul.uk-nav a:hover {
      background: rgba(50, 50, 50, 0.5); }
  ul.uk-nav > li {
    font-size: 18px; }
    ul.uk-nav > li ul {
      padding: 0;
      font-size: 16px;
      background: rgba(30, 30, 30, 0.5);
      border-left: 2px solid rgba(0, 0, 0, 0.5); }
  ul.uk-nav li.uk-active > a {
    background: rgba(200, 10, 10, 0.5); }

/* КОНЕЦ  навигация */
/*----------------------------
  НАЧАЛО главная
----------------------------*/
.content-container.index {
  text-align: justify; }
  @media screen and (min-width: 768px) {
    .content-container.index {
      text-align: left; } }
  .content-container.index .uk-float-left {
    margin-right: 10px; }
  .content-container.index .uk-float-right {
    margin-left: 10px; }
  .content-container.index img {
    width: 100%;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .content-container.index img {
        width: 50%; } }
    @media screen and (min-width: 960px) {
      .content-container.index img {
        width: 33%; } }
  .content-container.index .summary {
    font-size: 1.2rem;
    text-align: center; }

/*----------------------------
  КОНЕЦ главная
----------------------------*/
/*----------------------------
  НАЧАЛО страниц Каталог и Наши Работы (у них общие стили)
----------------------------*/
.catalog-page.content-container .uk-grid > div {
  margin-bottom: 25px; }
  .catalog-page.content-container .uk-grid > div a.portfolio-item,
  .catalog-page.content-container .uk-grid > div div.image {
    box-sizing: content-box;
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background: 50% 50%/cover; }
    .catalog-page.content-container .uk-grid > div a.portfolio-item span,
    .catalog-page.content-container .uk-grid > div div.image span {
      display: block;
      margin: 0;
      padding: 5px 10px;
      background: rgba(200, 10, 10, 0.5);
      color: white;
      overflow: hidden;
      text-overflow: ellipsis; }

/*----------------------------
  КОНЕЦ страниц Каталог и Наши Работы (у них общие стили)
----------------------------*/
/*----------------------------
  НАЧАЛО страницы единичного товара
----------------------------*/
.photo-section .uk-slideshow {
  margin-bottom: 10px; }
  .photo-section .uk-slideshow li {
    height: 220px;
    background: 50% 50%/cover; }
    .photo-section .uk-slideshow li a {
      display: block;
      height: 100%; }
.photo-section .uk-slider-container li {
  background-clip: content-box !important;
  height: 85px;
  background: 50% 50%/cover; }

.characteristics-section h2 {
  margin-top: 0; }

.text-section-bottom {
  max-width: 900px;
  margin: 15px auto 0;
  text-align: justify; }

/*----------------------------
  КОНЕЦ страницы единичного товара
----------------------------*/
/*----------------------------
  НАЧАЛО страницы Контакты
----------------------------*/
.contacts.content-container {
  text-align: center; }
  .contacts.content-container .map {
    margin-bottom: 15px; }

/*----------------------------
  КОНЕЦ страницы Контакты
----------------------------*/

/*# sourceMappingURL=styles.css.map */
