/* НАЧАЛО ОБЩИЕ СТИЛИ */

//НАЧАЛО объявляем переменные SASS
$handwrite-font: 'Marck Script', cursive;
$font-rectangular: 'Play', Arial, sans-serif;
$color-active: rgba(200,10,10,.5);
//КОНЕЦ объявляем переменные SASS

body {
  background: url("../img/background.jpg");
  color: white;
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-rectangular;
}

a {
  color: white;
  &:hover {
    color: white;
  }
}

.success-mail-text{
color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: $font-rectangular;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 32px;
  @media screen and (min-width: 768px){
    font-size: 36px;
  }
}

h2 {
  font-size: 26px;
  @media screen and (min-width: 768px){
    font-size: 30px;
  }
}

h3 {
  font-size: 22px;
  @media screen and (min-width: 768px){
    font-size: 26px;
  }
}

.uk-close-alt,
.uk-close-alt:hover,
.uk-modal-close {
  color: black;
}

.navbar-toggle-container {
  .uk-navbar-toggle,
  .uk-navbar-toggle:hover,
  .uk-navbar-toggle:active {
    color: white;
    display: block;
  }

  &.uk-active .uk-navbar-toggle {
    color: black;
    background: rgba(255,255,255,.85);
  }
}

.uk-slidenav {
  color: $color-active;
  &:hover,
  &:active,
  &:focus {
    color: rgba(200,10,10,.8);
  }
}

.uk-breadcrumb {
  margin-bottom: 25px;
  &>li {
    font-size: 20px;
  }
}
.uk-breadcrumb>li:nth-child(n+2):before {
  content: ">";
}
.uk-breadcrumb>li a {
  text-decoration: underline;
}

.uk-pagination {
  &>.uk-active>span {
    background: $color-active;
  }
}

/* КОНЕЦ ОБЩИЕ СТИЛИ */

/* НАЧАЛО header */
header {
  padding: 35px 0 0;

  .upper-row {
    @media screen and (min-width: 768px){
      padding-bottom: 15px;
    }

    .logo-and-solgan-container {
      .logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
        @media screen and (min-width: 768px){
          width: 300px;
        }
      }
      p.slogan {
        color: #970e0e;
        font-family: $handwrite-font;
        font-size: 25px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 15px;
        @media screen and (min-width: 768px){
          margin-bottom: 0;
        }
      }
    }

    .summary-and-contacts-container {
      display: flex;
      flex-flow: column;
      justify-content: center;
      font-size: 20px;
      text-align: center;
      @media screen and (min-width: 768px){
        font-size: 26px;
        text-align: right;
      }
      .summary {
        font-family: $handwrite-font;
      }
      .contacts {
        font-size: 18px;
        margin-top: 0;

        a {
          margin-top: 10px;
          display: inline-block;
          @media screen and (min-width: 768px){
            margin-top: 0;
          }
        }
        @media screen and (min-width: 768px){
          font-size: 24px;
          a + a,
          br + a {
            margin-left: 25px;
          }
        }

      }
    }
  }
}
/* КОНЕЦ header */

/* НАЧАЛО footer */
footer {
  font-size: 20px;
  margin-top: 35px;
  padding: 0;
  color: #bbb;
  background: rgba(0,0,0,.5);

  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    text-align: center;
    padding-top: 25px;
    @media (min-width: 480px) {
      flex-flow: row;
      text-align: left;
    }
    @media (min-width: 1220px) {
      padding-top: 0;
    }
    &> a {
      display: block;
    }
    .logo-and-solgan-container {
      .logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
        @media screen and (min-width: 768px){
          width: 300px;
        }
      }
      p.slogan {
        color: #970e0e;
        font-family: $handwrite-font;
        font-size: 25px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 15px;
        @media screen and (min-width: 768px){
          margin-bottom: 0;
        }
      }
    }
    .map {
      display: none;
      @media (min-width: 1220px) {
        margin: 0 30px;
        flex: 1;
        display: block;
      }
    }
    .contacts {
      text-align: center;
      flex: 0 0 230px;
    }

  }
}
/* КОНЕЦ footer */

/* НАЧАЛО main-slider под header'ом */
.main-slider {
  margin-bottom: 25px;
  .images-grid {
    &>li {
      background: 50% 50%/cover;
      height: 200px;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      @media screen and (min-width: 768px){
        height: 250px;
      }
      &:hover {
        p {
          opacity: 1;
        }
      }
      p {
        opacity: 1;
        transition: .5s;
        background: $color-active;
        color: white;
        padding: 5px 15px;
        @media screen and (min-width: 960px){
          opacity: 0;
        }
      }
    }
  }
}

/* КОНЕЦ main-slider под header'ом */

/* НАЧАЛО навигация*/
ul.uk-nav {
  background: rgba(0,0,0,.5);


  a {
    color: white;
    padding-left: 30px;
    background-clip: border-box;
    &:hover {
      background: rgba(50,50,50,.5);
    }
  }

  &>li {
    font-size: 18px;

    ul {
      padding: 0;
      font-size: 16px;
      background: rgba(30,30,30,.5);
      border-left: 2px solid rgba(0,0,0,.5);
    }
  }
  li.uk-active {
    &>a {
      background: $color-active;
    }
  }
}
/* КОНЕЦ  навигация */


/*----------------------------
  НАЧАЛО главная
----------------------------*/
.content-container.index {
  text-align: justify;
  @media screen and (min-width: 768px){
    text-align: left;
  }

  .uk-float-left {
    margin-right: 10px;
  }
  .uk-float-right {
    margin-left: 10px;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
    @media screen and (min-width: 768px){
      width: 50%;
    }
    @media screen and (min-width: 960px){
      width: 33%;
    }
  }
  .summary {
    font-size: 1.2rem;
    text-align: center;
  }
}

/*----------------------------
  КОНЕЦ главная
----------------------------*/

/*----------------------------
  НАЧАЛО страниц Каталог и Наши Работы (у них общие стили)
----------------------------*/
.catalog-page.content-container {
  .uk-grid {
    & > div {
      margin-bottom: 25px;
      a.portfolio-item,
      div.image {
        box-sizing: content-box;
        width: 100%;
        height: 250px;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        background: 50% 50%/cover;
        span {
          display: block;
          margin: 0;
          padding: 5px 10px;
          background: $color-active;
          color: white;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
/*----------------------------
  КОНЕЦ страниц Каталог и Наши Работы (у них общие стили)
----------------------------*/

/*----------------------------
  НАЧАЛО страницы единичного товара
----------------------------*/
.photo-section {
  .uk-slideshow {
    margin-bottom: 10px;
    li {
      height: 220px;
      background: 50% 50%/cover;
      a {
        display: block;
        height: 100%;
      }
    }
  }

  .uk-slider-container {
    li {
      background-clip: content-box !important;
      height: 85px;
      background: 50% 50%/cover;
    }
  }
}

.characteristics-section {
  h2 {
    margin-top: 0;
  }
}

.text-section-bottom {
  max-width: 900px;
  margin: 15px auto 0;
  text-align: justify;
}
/*----------------------------
  КОНЕЦ страницы единичного товара
----------------------------*/

/*----------------------------
  НАЧАЛО страницы Контакты
----------------------------*/
.contacts.content-container {
  .map {
    margin-bottom: 15px;
  }
  text-align: center;
}
/*----------------------------
  КОНЕЦ страницы Контакты
----------------------------*/